@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --main-color: #10CAB7;
    --secondary-color: #333333;
    --section-background: #F6F6F6;
    --section-padding: 60px;
    --transition-duration: 0.3s;
}
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    font-family: "Work Sans", sans-serif;
}
html{
    scroll-behavior: smooth;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* Small*/
@media (min-width: 768px) {
    .container {
      width: 750px;
    }
}
/* Medium */
@media (min-width: 992px) {
    .container {
      width: 970px;
    }
}
/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.special-heading{
    text-align: center;
    margin-top: 0px;
    text-transform: capitalize;
    font-weight: 900;
    font-size: 120px;
    opacity: 0.1;
}
.special-heading-p{
    text-transform: capitalize;
    text-align: center;
    font-size: 18px;
    margin-top: -140px;
    font-weight: 400;
}
@media (max-width: 768px){
    .container .title .special-heading {
        font-size: 55px;
    }
    .container .title .special-heading-p{
        margin-top: -70px;
        font-size: 14px;
    }
}
/* Header */
.header{
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
}
.header .logo img{
    width: 70px;
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .links{
    transition: var(--transition-duration);
    position: relative;
}
.header .links .icons{
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.header .links .icons span{
    background-color: var(--secondary-color);
    height: 2px;
    margin-bottom: 5px;
}
.header .links .icons span:first-child,
.header .links .icons span:last-child{
    width: 100%;
}
.header .links .icons span:nth-child(2){
    width: 60%;
    transition: var(--transition-duration);
}
.header .links:hover span:nth-child(2){
    width: 100%;    
}
.header .links:hover ul{
    display: block;
}
.header .links ul{
    display: none;
    position: absolute;
    right: 0;
    top: 35px;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #F6F6F6;
    width: 250px;
    transition-duration: var(--transition-duration);
    z-index: 2;
}
.header .links ul::before{
    content: "";
    position: absolute;
    border-width: 15px;
    border-color: transparent transparent #F6F6F6 transparent;
    border-style: solid;
    top: -30px;
    right: 0px;
}

.header .links ul li{
    padding: 15px 0px;
}
.header .links ul li a{
    display: block;
    text-decoration: none;
    text-transform: capitalize;
    color: var(--secondary-color);
    font-size: 18px;
    padding-left: 10px;
    transition: var(--transition-duration);
}
.header .links ul li:not(:last-child){
    border-bottom: 1px solid var(--secondary-color);
}
.header .links ul li:hover a{
    padding-left: 25px;
}
/* Main Section */
.main-section{
    background-image: url(../Media/Images/mountains.jpg);
    height: calc(100vh - (32.29px + 2*15px));
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-section div{
    width: 400px;
    text-transform: capitalize;
    text-align: center;
}
.main-section div h2{
    color: var(--main-color);
    font-weight: 700;
    font-size: 60px;
}
.main-section div p{
    color: var(--secondary-color);
    font-weight: 400;
    font-size: 25px;
}
/* Work */
.work{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}
.work .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}
.work .cont{
    text-align: center;
    padding: 30px;
}
.work .cont i{
    color: var(--main-color);
}
.work .container .cont h3{
    text-transform: capitalize;
    text-align: center;
    font-weight: 800;
}
.work .conatiner .cont p{
    text-transform: capitalize;
    text-align: center;
    font-size: 17px;
    line-height: 2;
    opacity: 0.7;
}
/* Services */
.services{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.services .container .content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
}
.services .container .cont .head{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
}
.services .container .cont .head i{
    color: var(--main-color);
}
.services .container .cont .head h3{
    text-transform: capitalize;
    padding-left: 15px;
    margin-top: 0;
    font-size: 20px;
}
.services .container .cont .text{
    line-height: 2;
    padding-left: 47px;
}
.services .container .content .image img{
    background-size: contain;
    width: 100%;
    height: 100%;
}
.services .container .content .image{
    position: relative;
    grid-column: 3 / 4;
    grid-row: 1 / 3;
}
.services .container .content .image::after{
    content: "";
    position: absolute;
    height: calc(100% + 80px);
    width: 80px;
    background-color: #2C4755;
    top: -40px;
    right: -40px;
    z-index: -1;
}
@media (max-width: 1199px) {
    .services .container .content .image{
      display: none;
    }
    .services .container .content{
        margin-top: 40px;
        margin-bottom: 40px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 30px;
    }
}
/* Portfolio */
.portfolio{
    background-color: var(--section-background);
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.portfolio .content{
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}
.portfolio .content .cont{
    background-color: white;
    position: relative;
    height: 500px;
}
.portfolio .content .cont .image{
    width: 100%;
    height: 60%;
}
.portfolio .content .cont img{
    width: 100%;
    height: 100%;
}
.portfolio .content .cont .text{
    padding-left: 10px;
    text-transform: capitalize;
}
.portfolio .content .cont .text p{
    line-height: 2;
}
@media(max-width: 767px){
    .portfolio .content{
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }   
}
/* About */
.about{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.about .content{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media(max-width: 982px){
    .about .content{
        margin-top: 60px;
        flex-flow: column nowrap;
        align-items: center;
    }
}
.about .content .image{
    position: relative;
    height: 375px;
    width: 250px;
}
@media(max-width: 982px){
    .about .content .image{
        margin-bottom: 40px;
    }
}
.about .content .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}
.about .content .image::before{
    content: "";
    position: absolute;
    height: calc(100% + 80px);
    width: 80px;
    background-color: #EBECED;
    top: -40px;
    left: -40px;
    z-index: -1;
}
.about .content .image::after{
    content: "";
    position: absolute;
    height: 80%;
    width: 80px;
    border-left: 80px solid var(--main-color);
    border-bottom: 80px solid var(--main-color);
    top: -40px;
    right: -120px;
    z-index: -1;
}
@media(max-width: 982px){
    .about .content .image::after,
    .about .content .image::before{
        display: none;
    }
}
.about .right-cont{
    flex-basis: calc(100% - 400px);
}
@media(max-width: 982px){
    .about .right-cont{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}
.about .right-cont div:first-child{
    font-weight: 800;
    line-height: 2;
    margin-bottom: 30px;
}
.about .right-cont div:nth-child(2){
    width: 60%;
    height: 2px;
    background-color: var(--main-color);
}
.about .right-cont div:last-child{
    margin-top: 30px;
    line-height: 2;
    opacity: 0.2;
}
/* Contact */
.contact{
    background-color: var(--section-background);
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.contact .content{
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}
.contact .content div:first-child{
    color: #2C4755;
    font-weight: 900;
    font-size: 35px;
    margin-bottom: 10px;
    text-transform: capitalize;
}
.contact .content a{
    text-decoration: none;
    color: var(--main-color);
    font-weight: 900;
    font-size: 40px;
    margin-bottom: 20px;
}
.contact .content .socials{
    padding: 0px 6px;
    font-size: 18px;
    text-transform: capitalize;
}
@media (max-width: 768px){
    .contact .content div:first-child{
        font-size: 16px;
    }
    .contact .content a{
        font-size: 18px;
    }
    .contact .content .socials{
        font-size: 12px;
    }
}
/* Footer */
.footer{
    background-color: #2C4755;
    color: white;
    height: 80px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
}
.footer span{
    color: var(--main-color);
    font-weight: bold;
    padding: 0px 7px;
}